In [6]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\jhonjairopabongamas\appdata\roaming\python\python312\site-packages (9.4.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:


import mysql.connector

mydb=mysql.connector.connect(user='root',password='Student123@',host='localhost')

In [2]:
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('4schema',)
('information_schema',)
('mysql',)
('new_schema',)
('new_schema1',)
('newschema',)
('performance_schema',)
('sys',)
('university',)
('week3',)
('week4',)

In [7]:
cnx=mysql.connector.connect(user='root',password='Student123@',host='localhost',database='week4')

mycursor=cnx.cursor()
mycursor.execute("select * from student")

for x in mycursor:
    print(x)

('S001', 'MICHAEL BEVAN', datetime.date(1960, 9, 15), Decimal('3.20'), 'CHATSWOOD')
('S002', 'BRIAN LARA', datetime.date(1965, 2, 10), Decimal('4.00'), 'MARSFIELD')
('S003', 'VIVAN RICHARDS', datetime.date(1958, 11, 12), Decimal('4.50'), 'BURWOOD')
('S004', 'JAVED MIANDAD', datetime.date(1966, 5, 5), Decimal('3.50'), 'RYDE')
('S005', 'VIRAT KOHLI', datetime.date(1988, 10, 15), Decimal('4.30'), 'AUBURN')
('S006', 'BABAR AZAM', datetime.date(1991, 4, 20), Decimal('4.20'), 'LAKEMBA')
('S007', 'KUMAR SANGAKARA', datetime.date(1980, 1, 26), Decimal('3.70'), 'REDFERN')